#pic {
  float: right;
  width: 200px;
  margin: 20px;
  box-shadow: 0px 0px 10px #555555;
}


#container {
  width: 800px;
  margin: 40px auto 60px;
}


.same-line {
    height: 20px; 
    position: relative;
}


.same-line div{
    display: inline-block;
    position: absolute;
}


.on-the-left{
 left:0px;
}


.on-the-center{
    left: 0%;
    right: 0%;
    text-align: center;
}


.on-the-right{
   right: 0px;
}

